/* div { */
 /* border: 5px solid black; */
 /* height: 300px; */
 /* width: 500px; */
  /* font-size: 1.0em; */
  /* font-weight: bold; */
  /* background-color:white; */
/* } */
body {
    /* background-color: lightblue; */
    background-color:white;
}


h1 {
	font: 50px;
	
}
/* div a{ */
	height:31px;
	width:40px;
	border: 5px solid FireBrick;
	background-color: FireBrick;
	font-size:30px;
	color:white;
	
/* } */
/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}